<div class="side-menu-contianer is-flex is-flex-direction-column">
  <div class="logo-container">Semantic Web</div>
  <mat-list class="p-2">
    <div mat-subheader>Prewritten Commands</div>
    <mat-divider></mat-divider>
    <mat-list-item matTooltip="Get resources for a specific course">
      <mat-icon matListItemIcon>book</mat-icon>
      <div matListItemTitle>Get Resources for Course</div>
      <div matListItemLine>Get resources for a specific course</div>
    </mat-list-item>
    <mat-list-item matTooltip="Get resources for a specific knowledge unit">
      <mat-icon matListItemIcon>bookmark</mat-icon>
      <div matListItemTitle>Get Resources for Knowledge Unit</div>
      <div matListItemLine>Get resources for a specific knowledge unit</div>
    </mat-list-item>
    <mat-list-item matTooltip="Get courses for a specific author">
      <mat-icon matListItemIcon>library_books</mat-icon>
      <div matListItemTitle>Get Courses for Author</div>
      <div matListItemLine>Get courses for a specific author</div>
    </mat-list-item>
    <mat-list-item
      matTooltip="Get courses and authors for a specific learning outcome"
    >
      <mat-icon matListItemIcon>person</mat-icon>
      <div matListItemTitle>Get Courses and Authors for Learning Outcome</div>
      <div matListItemLine>
        Get courses and authors for a specific learning outcome
      </div>
    </mat-list-item>
    <mat-list-item
      matTooltip="Get documents cited by a specific author in a specific resource format"
    >
      <mat-icon matListItemIcon>collections_bookmark</mat-icon>
      <div matListItemTitle>Get Documents Cited by Author in Format</div>
      <div matListItemLine>
        Get documents cited by a specific author in a specific resource format
      </div>
    </mat-list-item>
  </mat-list>
</div>
