.container-main {
  background-color: #e4e2ee;
  height: 100vh;
  width: 100%;
}

.form-container {
  border-radius: 30px;
  background-color: white;
  box-shadow: 10px 10px 10px gray;
  padding: 40px;
  margin: 30px;
}

.response-box {
  margin-top: 20px;
  padding: 0px 20px;
}

.response-box img {
  width: 50px;
  height: 50px;
}

.response-container {
  margin-left: 30px;
  background-color: #5756f9;
  padding: 30px;
  border-radius: 0px 30px 30px 30px;
  color: white;
  max-height: calc(100vh - 320px);
  overflow-y: auto;
}

mat-spinner {
  height: 30px !important;
  width: 30px !important;
}

::ng-deep .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: white;
}

p {
  margin-bottom: 0px !important;
}

.response {
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace !important;
}
