<div class="container-main">
  <div class="columns is-gapless">
    <div class="column is-4">
      <side-menu (cardClicked)="cardClicked($event)"></side-menu>
    </div>
    <div class="column is-flex is-flex-direction-column">
      <app-header></app-header>
      <div class="form-container is-flex is-flex-direction-column">
        <mat-form-field appearance="fill">
          <mat-label>Type your prompt</mat-label>
          <input
            matInput
            placeholder="What does the course Semantic Web teach?"
            [(ngModel)]="promptText"
            (keyup.enter)="performQuery()"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="response-box is-flex is-flex-direction-row">
          <img src="/assets/robot.png" />
          <div class="response-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <div
              class="response"
              *ngIf="!isLoading && !errorResponse"
              [innerHTML]="responseText"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
